/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/04/2018, 11:16:18
    Author     : danie
*/
.imagemBasq{
    -fx-background-image: url("/imagens/basq.png");
    -fx-background-size: 100%, 100%;
    -fx-background-repeat: no-repeat;
}

.imagemDialog{
    -fx-background-image: url("/imagens/rede.jpg");
    -fx-background-size: 50%, 50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom, right;
}

.transparente{
    -fx-background-color: rgba(0, 100, 100, 0);
}

.fonteplacar{
    -fx-font-family: "DS-Digital";
}

.fonteTitulo{
    -fx-font-family: "Soccer League"
}

.alinhamento{
    -fx-alignment: CENTER;
}

#alinhamento{
    -fx-alignment: CENTER;
}

.image-login{
    -fx-fill: white;
}

.glyph-icon{
    -fx-fill: white;
}

.text-field{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-prompt-text-size: 20px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.jfx-text-field .input-line{
	-fx-pref-height: 3px;
}
.jfx-text-field .input-focused-line{
	-fx-pref-height: 4px;
}

.jfx-password-field .input-line{
	-fx-pref-height: 3px;
}
.jfx-password .input-focused-line{
	-fx-pref-height: 4px;
}
